{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p>Publié le {{ article.createdAt|date('d/m/Y') }} par {{ article.author }}</p>
{% endblock %}
